/*--------------------------------------------------------------
2.0 Variables
--------------------------------------------------------------*/
/*******************************************************************
Color Variables
*******************************************************************/
$brandColor: #002f6d;
$accentColor: #61a60e;
$secondaryBrandAccent: #0090ba;
$black: #54575A;
$darkGrey: #4a4a4a;
$white: #FFFFFF;
$lightGrey: #E8E8E8;
$transparent: rgba(0,0,0,0);

/*******************************************************************
Font Variables
*******************************************************************/
$titillium: 'Titillium Web', Arial, sans-serif;
