img, iframe {
  max-width: 100%;
  height: auto;
}
.wp-block-embed-youtube {
  margin: 0;
  .wp-block-embed__wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}
.layout-center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cover-image, .background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
}
.background-image img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: relative;
}
